<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../enzyme-card/enzyme-card.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../sortable-list/sortable-list.html">
<link rel="import" href="../iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../paper-toolbar/paper-toolbar.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<dom-module id="sortable-enzymes">
    <template>
        <style is="custom-style">

            paper-material {
                margin: 20px;
                background-color: #eee;
            }
            .enzymeList{
                padding: 5px;
                @apply(--layout-horizontal);
                @apply(--layout-wrap);
                min-width: 200px;
                min-height: 200px;

                align-content: center;
            }
            .enzymeSelected{
                padding: 5px;
                @apply(--layout-vertical);
                min-height: 300px;
                width: 300px;
                align-items: center;
            }

            paper-toolbar {
                --paper-toolbar-background: #e2011b; /* changes the background to blue*/
            }

        </style>
        <iron-ajax
            auto
            url="{{dataEnzymes}}"
            handle-as="json"
            last-response="{{enzymes}}">
        </iron-ajax>


        <div class="layout horizontal">

            <paper-material elevation="2" style="height: 100%" class="flex">
                <paper-toolbar>
                    <paper-icon-button disabled icon="icons:folder-open" style="color: white"></paper-icon-button>
                    <span class="title">Enzyme pool</span>
                </paper-toolbar>
                <sortable-list id="list" group="enzyme" animation="150" class="enzymeList" >
                    <template is="dom-repeat" items="{{enzymes}}">
                        <!--Important: do not change data-id because it is used for generating the array in Sortable.toArray(). -->
                        <div data-id$="{{item.name}}" >
                            <enzyme-card  enzyme-json="{{item}}" style="padding: 5px;"></enzyme-card>
                        </div>
                    </template>
                </sortable-list>
            </paper-material>
            <img src="{{resolveUrl('img/drag_drop.png')}}" style="width: 300px;height: 350px">
            <paper-material elevation="2">
                <paper-toolbar>
                    <paper-icon-button disabled style="color: white" icon="icons:view-list"></paper-icon-button>
                    <span class="title">Enzyme Digestion List</span>
                </paper-toolbar>
                <sortable-list id="selected" group="enzyme" animation="150" class="enzymeSelected"></sortable-list>
            </paper-material>
        </div>
    </template>

    <script>
        Polymer({
            is: 'sortable-enzymes',
            properties:{
                dataEnzymes:{
                    type: String
                }
            },
            selectedEnzymeArray: function(){
                return this.$.selected._sortable.toArray();
            }
        });
    </script>
</dom-module>
